<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- 控制台日志输出 开始-->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{MMdd HH:mm:ss,SSS} [%7r] - [%t] %6p - %30.30c - %m \n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
        </filter>
    </appender>
    <!-- 控制台日志输出 结束-->

    <appender name="FILE-ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="file" value="/export/Logs/regular.purchase.paas.jd.local/ding-paas-error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [ %p ] %C[%L] - %X{PFTID} - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
        </filter>
    </appender>
    <appender name="INFO_LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Append" value="true" />
        <param name="File" value="/export/Logs/regular.purchase.paas.jd.local/info.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [ %p ] %C[%L] - %X{PFTID} - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
        </filter>
    </appender>

    <appender name="CONSOLE_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>
    <appender name="FILE_ERROR_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="FILE-ERROR"/>
    </appender>
    <appender name="INFO_LOG_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="INFO_LOG"/>
    </appender>

    <!-- 指定logger的设置，additivity 指示是否遵循缺省的继承机制-->
    <logger name="com.jd.jsf.gd"  additivity="false">
        <level value="FILE_ERROR_ASYNC" />
    </logger>
    <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
    <logger name="org.mybatis" additivity="false">
        <level value="FILE_ERROR_ASYNC"/>
    </logger>
    <logger name="com.jd.std.ucc.client" additivity="false">
        <level value="FILE_ERROR_ASYNC"/>
    </logger>
    <logger name="com.jd.order.purchase.config.client" additivity="false">
        <level value="FILE_ERROR_ASYNC"/>
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="CONSOLE_ASYNC"/>
        <appender-ref ref="INFO_LOG_ASYNC" />
        <appender-ref ref="FILE_ERROR_ASYNC"/>
    </root>
</log4j:configuration>
